.pagination {
    max-width: 100%;
    min-height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_firstBlock {
        display: flex;
        &__item {
            width: 114px;
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            color: #757575;
        }
        &__displaying {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            color: #757575;
        }
    }
    &_secondBlock {
        display: flex;
        &__prevBtn {
            border: 0;
            cursor: pointer;
            border-radius: 50%;
            margin-right: 40px;
            margin-left: 50px;
        }
        &__nextBtn {
            border: 0;
            border-radius: 50%;
            cursor: pointer;
            font-size: 16px;
            margin-left: 40px;
        }
        &__numOfPage {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            color: #757575;
        }
    }
}
.selectBlock select {
    margin-left: 40px;
    width: 50px;
    text-align: center;
    height: 30px;
    margin-right: 35px;
}
@media (max-width: 970px) {
    .pagination_firstBlock {
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &_firstBlock {
            text-align: center;
        }
    }
}
@media (max-width: 700px) {
    .pagination {
        display: block;
    }
    .pagination_firstBlock {
        display: block;
        max-width: 100%;
        margin: 10px auto;
        text-align: center;
    }
    .pagination_firstBlock__item {
        margin: 10px auto;
    }
    .pagination_secondBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .pagination_secondBlock__prevBtn,
    .pagination_secondBlock__nextBtn {
        width: 10%;
        margin: 10px auto;
    }
}
